@{
    ViewBag.Title = "About";
}
<h2>¿Quiénes somos?</h2>

<h3 class="abouttitle">Acerca de Safari</h3>
<h4 class="aboutsubtitle">Historia de la empresa</h4>
<p>
    Safari es una empresa familiar con más de 60 años en el rubro veterinario. Comenzó siendo una pequeña veterinaria de barrio canina para convertirse en la empresa más prometedora del rubro.

<p>Un poco de historia:</p>
    Instalado en el barrio porteño de Devoto, con importantes clientes del ámbito de la política y artístico se estableció Sebastian Moriggia en un local en la calle Calderón de la barca 3039 del Barrio porteño de Devoto donde permaneció junto a su esposa la Sra. Carolina Gassmann y su hija María Beatriz hasta 1954.</p>

<p>Al año siguiente se establecieron con un local en la Avenida Pueyrredón 1801 que permanece hasta el día de hoy siendo uno de los locales más antiguos de la zona y la veterinaria más antigua de Buenos Aires.</p>

<p>Ya con la fama de ser la mejor veterinaria de Buenos Aires se comenzaron a agregar el servicio de venta de accesorios, en una primera etapa los que se conseguía de la industria local. La segunda generación de la familia incursiono en la importación, venta y distribución de accesorios dando origen a la empresa Pets Products Inc.</p>

<p>Ya consolidado como uno de los locales más completos en accesorios y novedades la tercer generacion comienza la expansion con locales propios que hoy cuentan con 9 locales.</p>


<style>
    .abouttitle {
        color: #4C75FF;
    }

    .aboutsubtitle {
        color: #0A79AC;
    }
</style>
